---
import { Image } from "astro:assets"
import Logo from "@images/logo.png"
import common from "@data/common.ts"
import data from "@data/links.yml"
const links = data.links
---

<footer class="footer">
    <div class="container footer__container">
        <div class="footer__up">
            <div class="footer__left">
                <a href="/">
                    <Image src={Logo} alt="logo" />
                </a>
                <nav class="footer__menu">
                    <ul>
                        {
                            links &&
                                links.map((link: Links) => (
                                    <li>
                                        <a href={link.href}>{link.name}</a>
                                    </li>
                                ))
                        }
                    </ul>
                </nav>
            </div>
            <div class="footer__right">
                <div class="footer__job">
                    <div>Aдрес: {common.address}</div>
                    <div>{common.jobtime}</div>
                </div>
                <div class="footer__left-left">
                    <div class="footer__phone">
                        <a href={"tel:" + common.phone}>{common.phone}</a>
                    </div>
                    <div class="footer__end">
                        <button class="footer__call">Заказать звонок</button>
                        <a href={"mailto:" + common.email} class="footer__email">{common.email}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__down">
            <div class="footer__disclamer">
                Обращаем ваше внимание на то, что данный сайт носит исключительно информационный
                характер и ни при каких условиях не является публичной офертой, определяемой
                положениями Статьи 437 ГК РФ. Цены на сайте приведены как справочная информация и
                могут быть изменены в любое время без предупреждения. Производитель может изменить
                комплектацию, характеристики и внешний вид товара без предварительного уведомления.
                Изображения могут отличаться от действительного вида товара. Для получения подробной
                информации о стоимости, комплектации, сроках и условиях поставки оборудования
                просьба обращаться к менеджерам компании.
            </div>
        </div>
    </div>
</footer>

<style lang="sass" is:global>
    .footer
        background: var(--clr-footer)
        border-radius: var(--block-radius) var(--block-radius) 0 0
        color: #fff

        &__container
            padding-top: 55px

        &__up
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            grid-auto-rows: auto
            row-gap: 2rem
            padding-bottom: 50px
            border-bottom: 1px solid #fff

            @media (width <= 1200px)
                grid-template-columns: 100%

        &__left, &__right
            display: flex
            justify-content: space-between

        &__left
            margin-right: calc(111 / 1920 * 100vw)
            @media (width <= 1200px)
                align-items: center
                margin-right: 0

            @media (width <= 450px)
                flex-direction: column
                row-gap: 1rem

        &__menu > ul
            list-style: none
            margin: 0
            padding: 0
            display: flex
            flex-direction: column
            gap: 5px

            @media (width <= 1200px)
                flex-direction: row

            @media  (width <= 680px)
                flex-direction: column

        &__job, &__end
            place-self: stretch center
            display: flex
            flex-direction: column
            justify-content: space-between

            @media (width <= 1200px)
                place-self: center
                text-align: center
                gap: 1em

        &__end
            place-self: stretch end
            flex: 0 0 157px
            gap: 5px

        &__left-left
            display: flex
            gap: 15px
            flex: 0 0 370px
            justify-content: flex-end
            @media (width <= 1200px)
                flex: 0
            @media  (width <= 780px)
                flex-direction: column
                align-items: center
                & > :is(.footer__phone, .footer__end)
                    flex: 0
                    place-self: center

        &__phone
            justify-self: flex-end
            flex: 0 0 146px
            padding: calc(1em - 2px) 0
            line-height: 1
        &__call
            padding: 1em 25px
            border-radius: 100px
            border: 1px solid #FFF
            background: none
            color: #fff
            cursor: pointer

        &__down
            padding-block: 1em
            position: relative

        &__disclamer
            text-align: center
            width: 90%
            margin-inline: auto
            font-size: clamp(10px,13 / 1920 * 100vw,13px)

        &__right
            @media  (width <= 780px)
                flex-direction: column
                justify-content: flex-start
                row-gap: 2rem
</style>

<script>
    import { Actions } from "src/config/modalElents"

    {
        const call = document.querySelector<HTMLElement>(".footer__call")
        call && call.addEventListener("click", Actions.letModalShow)
    }
</script>
