---
import Accordion from "@ui/Accordion.astro"
import filterdata from "@data/catalog-filter.yml"
import ResetButton from "@ui/ResetButton.astro"
const filterData = filterdata as CatalogFilter
---

<div class="filter-catalog">
    <h3 class="filter-catalog__title">Фильтр</h3>
    <Accordion name="Каталог" id="p1">
        <ul class="filter-catalog__list">
            {
                filterData &&
                    filterData.catalog &&
                    filterData.catalog.map(e => (
                        <li>
                            <a href={e.href}>{e.name}</a>
                        </li>
                    ))
            }
        </ul>
    </Accordion>
    <Accordion name="Производитель" id="p2">
        <ul class="filter-catalog__radio-list">
            {
                filterData &&
                    filterData.vendor &&
                    filterData.vendor.map(e => (
                        <li>
                            <label for={e.id}>
                                <input type="radio" name="vendor" id={e.id} />
                                <span>{e.name}</span>
                            </label>
                        </li>
                    ))
            }
        </ul>
    </Accordion>
    <Accordion name="Площадь помещения" id="p3">
        <ul class="filter-catalog__radio-list">
            {
                filterData &&
                    filterData.square &&
                    filterData.square.map(e => (
                        <li>
                            <label for={e.id}>
                                <input type="radio" name="square" id={e.id} />
                                <span>{e.name}</span>
                            </label>
                        </li>
                    ))
            }
        </ul>
    </Accordion>
    <Accordion name="Тест" id="p4">
        <ul class="filter-catalog__radio-list">
            {
                filterData &&
                    filterData.test &&
                    filterData.test.map(e => (
                        <li>
                            <label for={e.id}>
                                <input type="radio" name="test" id={e.id} />
                                <span>{e.name}</span>
                            </label>
                        </li>
                    ))
            }
        </ul>
    </Accordion>
    <div class="filter-catalog__footer">
        <button class="filter-catalog__show-more">Показать еще</button>
        <ResetButton />
    </div>
</div>

<style lang="sass" is:global>
    @import "@sass/_functions"
    .filter-catalog
        --filter-height: 795px
        position: relative
        background: #fff
        padding: 25px 30px
        width: 100%
        border-radius: 20px
        display: flex
        +columns(10px)
        min-height: 360px
        max-height: var(--filter-height)
        overflow-y: hidden
        transition: max-height var(--transtion-time)

        &__title
            text-align: center

        &__list
            list-style: none
            padding-left: 0
            +columns(10px)

        &__radio-list
            list-style: none
            padding-left: 0
            +columns(10px)
            & > li
                & > label
                    display: flex
                    gap: 0.5rem

        &__footer
            position: absolute
            bottom: 0
            left: 0
            right: 0
            padding: 25px
            width: 100%
            height: max-content
            background: #fff
            +columns(30px)

            & > *
                width: 100%

        &__show-more
            background: none
            border: none
            cursor: pointer
            color: #BEBEBE
            font-size: 13px
            text-decoration-line: underline
            text-align-last: left
</style>

<script>
    {
        const showMore = document.querySelector<HTMLButtonElement>(".filter-catalog__show-more"),
            filterCatalog = document.querySelector<HTMLElement>(".filter-catalog")

        let heightFilter = "795px"

        filterCatalog &&
            showMore &&
            showMore.addEventListener("click", () => {
                if (parseInt(heightFilter) <= 795) {
                    filterCatalog.style.setProperty("--filter-height", "2000px")
                    showMore.textContent = "Скрыть"
                } else {
                    filterCatalog.style.setProperty("--filter-height", "795px")
                    showMore.textContent = "Показать еще"
                }
                heightFilter = filterCatalog.style.getPropertyValue("--filter-height")
            })
    }
</script>
