---
import Logo from "@images/logo-dark.png"
import { Image } from "astro:assets"
import Links from "@data/links.yml"
import Sprite from "@ui/Sprite.astro"
import common from "@data/common"
import MobileMenu from "./MobileMenu.astro"

const { links } = Links as { links: { name: string; href: string }[] }
---

<div class="header">
    <a href="/" class="header__logo">
        <Image src={Logo} alt="logo" />
    </a>
    <Sprite name="Burger" class="burger" />
    <div class="header__center">
        <ul class="header__nav">
            {links && links.map(({ name, href }) => <a href={href}>{name}</a>)}
        </ul>
        <div class="header__controls" style="color:#fff;">
            <Sprite name="search" class="search-trigger" />
            <Sprite name="white-cart" />
        </div>
    </div>

    <div class="header__contacts-call">
        <div class="header__contacts">
            <a href={"tel:" + common.phone}>{common.phone}</a>
            <div>{common.jobtime}</div>
        </div>
        <button class="header__call">Заказать звонок</button>
    </div>
    <MobileMenu />
</div>

<style is:global>
    .header {
        margin-top: calc(100 / -1920 * 100vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 100px;
        background: #fffa;
        backdrop-filter: blur(15px);
        padding: 7px;
        width: 100%;
        margin-inline: auto;
        gap: 10px;
    }
    .header__logo {
        flex: 0 0 min(50%, 244px);
    }
    .header__logo > img {
        width: 100%;
        object-fit: contain;
    }

    .header__center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        position: absolute;
        inset: 0;
        margin: auto;
        column-gap: 10px;
    }
    .header__nav {
        display: flex;
        gap: calc(31 / 1920 * 100vw);
        padding-left: 0;
    }
    .header__nav > * {
        white-space: nowrap;
    }
    .header__call {
        flex: 0 0 183px;
        border-radius: 100px;
        border: 1px solid var(--clr-blue);
        color: var(--clr-blue);
        font-size: 1rem;
        font-weight: 500;
        height: 54px;
        display: grid;
        place-items: center;
        background: none;
        cursor: pointer;
    }
    .header__controls {
        display: flex;
        justify-content: center;
        align-self: start;
        gap: 5px;
        align-self: center;
    }
    .header__controls > svg {
        display: block;
        width: 34px;
        height: 34px;
        cursor: pointer;
    }
    .header__contacts-call {
        flex: 0 0 360px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .header__contacts {
        justify-self: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .header__contacts > a {
        color: var(--clr-black);
        font-size: 18px;
        font-weight: 500;
    }
    .header__contacts > div {
        color: rgba(13, 33, 55, 0.7);
        font-size: 13px;
    }
    @media (max-width: 1820px) {
        .header__center {
            width: 33.33%;
        }
    }
    @media (max-width: 1480px) {
        .header__center {
            position: static;
            width: unset;
        }
    }
    @media (max-width: 1260px) {
        .header__nav {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    @media (max-width: 1024px) {
        .header__contacts {
            display: none;
        }
        .header__contacts-call {
            justify-content: flex-end;
            flex: 0 0 180px;
        }
    }
    @media (max-width: 650px) {
        .header__contacts-call {
            display: none;
        }
        .header__center {
            margin: 0;
        }
    }
</style>

<script>
    import { MobileMenuEvents, Actions } from "src/config/modalElents"

    {
        const header = document.querySelector<HTMLElement>(".header"),
            headerCalls = document.querySelectorAll<HTMLElement>(".header__call"),
            searchTrigger = document.querySelector<HTMLElement>(".search-trigger"),
            searchPanel = document.querySelector<HTMLElement>(".search-panel"),
            burger = document.querySelector<HTMLElement>(".burger"),
            mobileMenu = document.querySelector<HTMLElement>(".mobile-menu")

        searchTrigger &&
            searchTrigger.addEventListener("click", () => {
                searchPanel.classList.contains("show")
                    ? Actions.hideSearchPanel()
                    : Actions.showSearchPanel()
            })

        headerCalls && headerCalls.forEach(e => e.addEventListener("click", Actions.letModalShow))

        burger &&
            burger.addEventListener("click", () => {
                if (!mobileMenu) return
                mobileMenu.classList.contains("show")
                    ? document.dispatchEvent(new CustomEvent(MobileMenuEvents.mobileMenuClose))
                    : document.dispatchEvent(new CustomEvent(MobileMenuEvents.mobileMenuOpen))
            })
    }
</script>
