---
import links from "@data/links.yml"
import common from "@data/common"
---

<div class="mobile-menu">
    <ul class="mobile-menu__list">
        {links.links && links.links.map(({ name, href }) => <a href={href}>{name}</a>)}
    </ul>
    <div class="mobile-menu__options">
        <div class="mobile-menu__options-content">
            <a href={"tel:" + common.phone}>{common.phone}</a>
            <p>{common.jobtime}</p>
            <p>{common.address}</p>
            <button class="header__call">Заказать звонок</button>
        </div>
    </div>
</div>

<style is:global>
    .mobile-menu {
        position: absolute;
        z-index: 2;
        background: #fff;
        border-radius: var(--block-radius);
        width: 100%;
        top: 80px;
        left: 0;
        display: grid;
        grid-template-columns: 2fr max-content;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--transtion-time);
    }
    .mobile-menu.show {
        opacity: 1;
        pointer-events: all;
    }
    .mobile-menu__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-block: 2rem;
    }
    .mobile-menu__options {
        background: var(--clr-blue);
        border-radius: var(--block-radius);
        display: grid;
        place-items: center end;
        color: #fffc;
        font-size: 13px;
        padding: 2rem;
    }
    .mobile-menu__options-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .mobile-menu__options-content > * {
        margin: 0;
        padding: 0;
    }
    .mobile-menu__options-content > .header__call {
        color: #fff;
        height: 45px;
        border-color: #fff;
        flex: unset;
        margin-top: 25px;
        padding-inline: 2em;
    }
    @media (max-width: 600px) {
        .mobile-menu {
            grid-template-columns: 100%;
        }
        .mobile-menu__options {
            place-items: unset;
        }
        .mobile-menu__options-content {
            align-items: center;
        }
        .mobile-menu__options-content > p {
            text-align: center;
        }
    }
</style>

<script>
    import { MobileMenuEvents } from "src/config/modalElents"
    {
        const mobileMenu = document.querySelector<HTMLElement>(".mobile-menu")

        document.addEventListener(MobileMenuEvents.mobileMenuOpen, () => {
            mobileMenu.classList.add("show")
        })
        document.addEventListener(MobileMenuEvents.mobileMenuClose, () => {
            mobileMenu.classList.remove("show")
        })
    }
</script>
