---
import { Image, getImage } from "astro:assets"
import Layout from "../layouts/main.astro"
import Condey from "../assets/images/condey.png"
import Sprite from "@ui/Sprite.astro"
import Catalog from "@data/catalog.yml"

import test from "../assets/images/catalog/1.png"
import List from "@ui/List.astro"
import ProductCard from "@ui/ProductCard.astro"

const catalog = Catalog as Links[]
---

<Layout title="КлиматТехника">
    <h1>
        <span>Astro</span>
        <Image src={Condey} alt="condey" />
        <Sprite name="white-ref" />
    </h1>
    <List title="Каталог товаров" arr={catalog}>
        {(e: Links) => <ProductCard element={e} />}
    </List>
    <!-- <div>
        {
            catalog &&
                catalog.map(e => (
                    <div>
                        <img src={e.href} alt="" />
                        <span>{e.name}</span>
                    </div>
                ))
        }
    </div> -->
</Layout>
