---
import Layout from "../layouts/main.astro"
import catalog from "@data/catalog"
import deals from "@data/deals"
import popular from "@data/popular"
import jobs from "@data/jobs"
import partners from "@data/partners"

import List from "@ui/List.astro"
import ProductCard from "@ui/ProductCard.astro"
import Deal from "@ui/Deal.astro"
import Popular from "@ui/Popular.astro"
import Jobs from "@ui/Jobs.astro"
import Request from "@blocks/Request.astro"
import Specter from "@blocks/Specter.astro"

import { Image, getImage } from "astro:assets"
import Discount from "@blocks/Discount.astro"
import About from "@blocks/About.astro"
import Block from "@ui/Block.astro"

import Tizer from "@blocks/Tizer.astro"
import Modal from "@ui/Modal.astro"
import Feedback from "@ui/Feedback.astro"
import FormMessage from "@ui/FormMessage.astro"
import Partners from "@blocks/Partners.astro"
---

<Layout title="КлиматТехника">
    <Feedback />
    <FormMessage />
    <Block background="url('assets/images/fills/tizer.png') no-repeat">
        <Tizer />
    </Block>
    <Block background="#ECF4FC">
        <List title="Каталог товаров" arr={catalog}>
            {(e: Links) => <ProductCard element={e} />}
        </List>
        <List title="Выгодные предложения" arr={deals}>
            {(e: Deal) => <Deal deal={e} />}
        </List>
        <a href="" class="watch-all">Смотреть все</a>
    </Block>
    <Block background="#fff">
        <Specter />
        <List title="Популярные услуги" arr={popular}>
            {(e: PopularType) => <Popular element={e} />}
        </List>
    </Block>
    <Discount />
    <Block background="#fff">
        <List title="Как выглядит процесс работы" arr={jobs}>
            {(e: JobsType, idx: number) => <Jobs element={e} idx={idx + 1} />}
        </List>
    </Block>
    <Block background="#ECF4FC">
        <About />
        <!-- <List title="Наши партнеры" arr={partners}>
            {(e: ImageMetadata) => <Image src={e} alt="" />}
        </List> -->
        <Partners />
    </Block>
    <Request />
</Layout>

<script>
    import { ModalEvents } from "src/config/modalElents"

    {
        document.addEventListener(ModalEvents.modalShowed, () => {
            document.body.style.height = "100dvh"
            document.body.style.overflow = "hidden"
        })
        document.addEventListener(ModalEvents.modalClosed, () => {
            document.body.style.height = ""
            document.body.style.overflow = ""
        })
    }
</script>
