---
import { Image } from "astro:assets"
import Sprite from "./Sprite.astro"
interface Props {
    element: JobsType
    idx?: number
    height?: number
}
const {
    element: { caption, text, icon, href },
    idx,
    height,
} = Astro.props
---

<div class="jobs" style={{ height: (height || 258) + "px" }}>
    <div class="jobs__top"><Image src={icon} alt="" /></div>
    <div class="jobs__top jobs__top--hidden"><Sprite name="blue-ref" /></div>
    <div class="jobs__body">
        <h3 class="jobs__caption">{caption}</h3>
        <h3 class="jobs__caption jobs__caption--hidden">Оформить заявку</h3>
        <p class="jobs__text"><Fragment set:html={text} /></p>
        {idx && <span class="jobs__idx">{idx}</span>}
    </div>
    <a href={href} class="jobs__href"></a>
</div>

<style is:global>
    .jobs {
        margin-top: 45px;
        position: relative;
        background: var(--clr-salat);
        height: 258px;
        border-radius: 20px;
        display: grid;
        place-items: center;
        padding-inline: 23px;
        transition: background-color var(--transtion-time);
    }
    .jobs:hover {
        background: var(--clr-blue);
    }
    .jobs:hover :is(.jobs__caption, .jobs__text, .jobs__top, .jobs__idx) {
        opacity: 0;
    }
    .jobs:hover :is(.jobs__caption--hidden, .jobs__top--hidden) {
        opacity: 1;
    }

    .jobs__top {
        background: var(--clr-salat);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -50%;
        display: grid;
        place-items: center;
        opacity: 1;
        transition: opacity var(--transtion-time) 30ms;
    }
    .jobs__top > svg {
        width: 103%;
    }
    .jobs__top--hidden {
        color: var(--clr-blue);
        opacity: 0;
    }
    .jobs__body {
        text-align: center;
        /* translate: 0; */
    }
    .jobs__caption,
    .jobs__text {
        margin: 0;
        padding: 0;
        opacity: 1;
        transition: opacity var(--transtion-time);

        color: var(--clr-black);
        text-align: center;
        font-size: clamp(12px, 18 / 1920 * 100vw,18px);
        font-weight: 600;
        line-height: 105%; /* 18.9px */
    }
    .jobs__caption {
        margin-bottom: 15px;
        font-size: clamp(18px, 25 / 1920 * 100vw,25px);
        font-weight: 600;
    }
    .jobs__caption--hidden {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 0;
    }
    .jobs__href {
        position: absolute;
        inset: 0;
    }
    .jobs__idx {
        border-radius: 50%;
        background: #fff;
        color: var(--clr-black);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 105%; /* 18.9px */
        display: grid;
        place-items: center;
        position: absolute;
        padding: 0.5em;
        width: 40px;
        height: 40px;
        bottom: 1em;
        right: 1em;
        line-height: 1;
        opacity: 1;
        transition: opacity var(--transtion-time);
    }
</style>
